.main-container {
  display: grid;
  place-items: center;
}

.card {
  width: 100%;
}

.card-content {
  text-align: center;
  position: relative;
  padding: 5em;
  transition: transform 4s;
  transform-style: preserve-3d;
  height: 25vh;
  cursor: pointer;
}

.card:hover .card-content {
  transform: rotateY(0.5turn);
}

.card-front,
.card-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 2em;
  transform-style: preserve-3d;
  backface-visibility: hidden;
  display: grid;
  align-content: center;
}

.card-front {
  display: grid;
  background-color: rgba(0, 0, 0, 0.5);
  background-image: url("../../assets/under-sea.png");
  background-size: cover;
  background-blend-mode: overlay;
}

.card-front::before {
  content: "";
  position: absolute;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  border: 3px solid var(--kraken-red);
  transform: var(--level-two);
}

.card-title {
  font-size: 5em;
  transform: var(--level-three);
  order: 2;
  color: var(--kraken-shadow-blue);
}

.card-subtitle {
  font-size: 3rem;
  color: var(--kraken-ice-blue);
  transform: var(--level-two);
  text-transform: uppercase;
}

.card-body {
  transform: var(--level-four);
  color: var(--kraken-red);
  font-size: 2rem;
}

.card-back::after {
  content: "";
  display: grid;
  position: absolute;
  place-items: center;
  --spacer: 1em;
  top: var(--spacer);
  bottom: var(--spacer);
  left: var(--spacer);
  right: var(--spacer);
  background-image: url("../../assets/nhl-seattle-kraken-logo.png");
  background-repeat: no-repeat;
  background-size: contain;
  transform: var(--level-three);
}
.card-back {
  transform: rotateY(0.5turn);
  background: var(--kraken-ice-blue);
}

@media (max-width: 480px) {
  .card-content {
    padding: 0;
    height: 70vh;
  }
}
